.btn-div{
    display: flex;
}

.carrito{
    background-color: #B63143!important;
    color: #eee!important;
    cursor: pointer;
}
@media (max-width: 769px) {
    .btn-div{
        flex-direction: column;
    }
}