.btn-div{
    display: flex;
}

.cart{
    background-color: #B63143!important;
    color: #eee!important;
    cursor: pointer;
    transition: .3s;
}
.cart:hover{
    background-color: #932130!important;
}
@media (max-width: 769px) {
    .btn-div{
        flex-direction: row;
    }
    .buttonAdd{
        width: 8rem!important;
    }
}