/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-decoration-color: none;
    box-shadow: none;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav_logo{
    width: 3rem;
}

.nav_li{
    display: flex;
    align-items: center;
}
.nav_ul{
    min-width: max-content;
    color: #000;
    margin: 0 1rem;
    font-size: 1rem;
    transition: .5s;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.nav_ul:hover{
    cursor: pointer;
    color: rgb(8, 207, 8);
}
.product-div{
    display: flex;
    align-items: center;
}

.bxs-cart{
    color: #000;
    font-size: 3rem;
    position: relative;
    cursor: pointer;
    transition: .3s;
}
.bxs-cart:hover{
    color: #B63143;
}
.bx-number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: #B63143;
    border-radius: 50%;
    color: #eee;
}

.bx-menu{
    display: none;
}
.navbar p{
    text-decoration: none;
    columns: inherit;
}
#toggler,
.navbar label{
    display: none;
}

@media (max-width: 768px) {
    .nav_title{
        font-size: 1rem;
    }
    
    .nav_ul{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    .bx-menu{
        border: 2px solid red;
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}
*/
/*------------------------*/
.landing_title{
    position: relative;
    color: rgb(19, 14, 14);
    margin: 10rem auto;
    justify-content: center;
    display: flex;
    font-size: 3rem;
}

.img{
    width: 100%;
    margin-top: 0;
    filter: brightness(50%)
}


/*------------------------*/

button{
    text-decoration: none;
    border: none;
}
.bxs-down-arrow-circle{
    font-size: 1.2rem;
    margin-left: -.5rem;
    transition: .3s;
}
.bxs-down-arrow-circle:hover{
    color: rgb(8, 207, 8);
}

.subCategory{
    color: #000;
    transition: .3s;
    margin: .5rem auto;
    font-weight: 600;
}
.subCategory-a:hover{
    color: rgb(8, 207, 8);
    text-decoration: underline;
    text-decoration-color: rgb(8, 207, 8);
}