
/*
font-family: 'Shizuru', cursive;
font-family: 'Source Sans Pro', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-decoration-color: none;
    box-shadow: none;
}
.nav{
    /*background-color: rgb(248, 246, 246);*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    width: 100%;
    background-color: #eee;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav_logo{
    margin-right: -4rem;
    width: 3rem;
}
.nav_title{
    font-size: 1.8rem;
    font-weight: bold;
}
.nav_li{
    display: flex;
    align-items: center;
}
.nav_ul{
    color: #000;
    margin: 0 1rem;
    font-size: 1rem;
    transition: .5s;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.nav_ul:hover{
    cursor: pointer;
    color: rgb(8, 207, 8);
}
.producto-div{
    display: flex;
    align-items: center;
}
.nav_a{
    color: #000;
    text-decoration: none;
}
.widget{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bxs-cart{
    color: #000;
    font-size: 3rem;
    position: relative;
    margin-left: 2rem;
    cursor: pointer;
}
.bx-number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: #B63143;
    border-radius: 50%;
    color: #eee;
}

.bx-menu{
    font-size: 2rem;
    display: none;
}


@media (max-width: 768px) {
    .nav_title{
        font-size: 1rem;
    }
    .nav_logo,
    .bxs-cart{
        display: none;
    }
    .nav_li{
        display: none;
    }
    .nav_li.active{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 3rem;
        width: 100%;
        padding: 1rem;
        border-radius: 0px 0px 15px 15px;
        background-color: #fff;
    }
    .nav_ul{
        padding: .5rem;
    }
    .bx-menu{
        display: inline-flex;
    }
    .producto-div{
        display: flex;
        align-items: center;
    }
}
/*
.nav_ul::after{
    content: "";
    position: absolute;
    background-color: #000;
    width: 0;
    height: 3px;
    
    transition: .4s;
}

.nav_ul:hover::after{
    width: 20%;
}
*/

/*------------------------*/
.landing_title{
    position: relative;
    color: rgb(19, 14, 14);
    margin: 10rem auto;
    justify-content: center;
    display: flex;
    font-size: 3rem;
}

.img{
    width: 100%;
    margin-top: 0;
    filter: brightness(50%)
}


/*------------------------*/
.divCategoria{
    display: none;
}

.divCategoria.active{
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    background-color: #eee;
    border-radius: 0 0 10px 10px;
    width: 8rem;
    top: 3rem;
    margin-left: 0rem;
    transition: .2s;
}

button{
    text-decoration: none;
    border: none;
}
.bxs-down-arrow-circle{
    font-size: 1.2rem;
    margin-left: -.5rem;
    transition: .3s;
}
.bxs-down-arrow-circle:hover{
    color: rgb(8, 207, 8);
}

.subCategory-a{
    color: #000;
    transition: .3s;
    margin: .5rem auto;
    font-weight: 600;
}
.subCategory-a:hover{
    color: rgb(8, 207, 8);
    text-decoration: underline;
    text-decoration-color: rgb(8, 207, 8);
}