@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); /*titulos*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); /*texto*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.questrial{
    font-family: 'Questrial', sans-serif;
}
.lato{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.lora{
    font-family: 'Lora', serif;
}
.dancing{
    font-family: 'Dancing Script', cursive;
    color: #000;
    font-size: 2rem;
}
@media screen and (max-width: 600px){
    .dancing{
        font-size: 1.5rem;
    }
}