@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); /*titulos*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); /*texto*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


/*
font-family: 'Questrial', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Dancing Script', cursive;
*/


.nav_title{
    font-family: 'Questrial', sans-serif;
}
.nav_li{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.card-title{
    font-family: 'Lora', serif;
}