.div-count{
    display: inline-flex;
    flex-direction: column;
    
}
.count,
.btn-add{
    display: inline-flex;
    border: 2px solid rgb(194, 190, 190);
    background-color: #eee;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 1rem;
}
.btn{
    width: 3rem;
    margin: 0 3rem;
    color: rgb(8, 207, 8);
    font-size: 2rem;
    border: none;
}
.btn-count{
    font-weight: bold;
}
.btn-add{
    height: 2.5rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    color: #111;
    border: 1px solid #111;
    transition: .5s;
}
.btn-add:hover{
    border: 1px solid rgb(8, 207, 8);
    background-color: rgb(8, 207, 8);
    color: #eee;

}